
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FÜDRUSH</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <style>
      .bg-custom{
        background-color:#474e89;
        }
        a{
            color:white;
        }
       .foot-custom{
            height:2em;
        }
        .green{
            background-color:#54d32d;
            color:white;
        } 
         .navbar-brand{
            padding-left: 6em;
        }
        .navli{
            padding-left: 6em;
            padding-right: 8em;
        }
    </style>
  </head>

<body>

    <!-- Navigation -->
<nav class="navbar navbar-inverted bg-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size:2em;">FüdRush</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li class="navli"><a href="#" style="font-size:1.5em;">My Profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading --> 
       <h1 class="my-4">Welcome
        <small>to FüdRush</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" style="width:750px; height:500px;" src="https://9e3bb35a382589932c6c-977b5cda77aab47db3ba47df2b820c65.ssl.cf1.rackcdn.com/NewMenu-MegaMeatball.png" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Our Mission</h3>
          <p>The quickest way to get what you want to eat. Anytime, anywhere. Find something tailored just for you, or step out of your comfort zone to try something you'd never imagined would be your new favorite food. </p>
          <h3 class="my-3">Completely Free</h3>
          <p>Try Fudrush for free today, with no strings attached. We'll never charge you to use our base service.</p>
          <a href="http://google.com" style="width:100%;"     type="button" class="btn btn-success btn-lg green"> <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png" style="width:1.5em;height:1.5em;"> </img>  Login with GitHub </a>
        </div>

      </div>

    </div>
    <!-- /.container -->

  </body>
</html>
