
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FÜDRUSH</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">
    <!-- Global CSS -->
    <link href="css/index.css" rel="stylesheet">
    <style>
      .bg-custom{
        background-color:#474e89;
        }
       .foot-custom{
            height:2em;
        }
        .green{
            background-color:#2e8ec9;
            color:white;
        }
        .left .right{
            width:40%;
            display: block;
        }
        .right{
        align-self:right;
        }
    </style>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">FüdRush</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> My Profile </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="display:flex;">
        <div class="col-md-6">
                <h1 class="my-4"> Welcome,
                <small> %user%.</small> </h1>
                <div class="data">
                    <label for="location"><b>Location:</b</label>
                    <input type="text" class="form-control" id="location" value="The White House">
                    <a class="button btn green"> Update </a>
                </div>
        </div>
        <div class="col-md-6">
                <h1 style="text-align:center;"> My Top Categories </h1>
                <img style="width:100%;" src="http://www.conceptdraw.com/solution-park/resource/images/solutions/pie-charts/Graphs-and-Chatrs-Pie-Chart-Europe-Browser-Usage-Share.png">
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-custom foot-custom fixed-bottom">
      <div class="container foot-custom">
        <p class="m-0 text-center text-white">Copyright &copy; Fudrush 2017</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>
</html>
