
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FÜDRUSH</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <style>
      .bg-custom{
        background-color:#474e89;
        }
        a{
            color:white;
        }
       .foot-custom{
            height:2em;
        }
        .green{
            background-color:#54d32d;
            color:white;
        } 
        big{
            font-size:2.625em;
        }
        .navbar-brand{
            padding-left: 6em;
        }
        .navli{
            padding-left: 6em;
            padding-right: 8em;
        }
    </style>
  </head>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverted bg-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size:2em;">FüdRush</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li class="navli"><a href="#" style="font-size:1.5em;">My Profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   <br> x
    <!-- Page Content -->
    <div class="container">
        <div class="col-xs-12 col-md-6">
                <h1 style="font-size:4.25em;"> Welcome,
                <small> %user%.</small> </h1>
                <div class="data">
                    <label for="location"><big>Location:</big</label>
                    <input style="font-size:0.9em;height:1.75em;" type="text" class="form-control" id="location" value="The White House">
                    <a class="button btn green" style="font-size:0.75em;"> Update </a>
                </div>
        </div>
        <div class="col-xs-12 col-md-6">
                <h1 style="text-align:center;font-size:1.75em;"> My Top Categories </h1>
                <img style="width:100%;" src="http://www.conceptdraw.com/solution-park/resource/images/solutions/pie-charts/Graphs-and-Chatrs-Pie-Chart-Europe-Browser-Usage-Share.png">
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->

  </body>
</html>
